.profile-card {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 15px;
    width: 30vw;
    background: linear-gradient(347deg, rgb(103 95 246) 0%, rgba(234, 94, 108, 1) 50%, rgba(255, 0, 69, 1) 100%);
    box-shadow: 0px 0px 14px 5px black;
    overflow: hidden;
    transition: transform 0.3s ease;
    user-select: none;
    cursor: grab;
}

.profile-img {
    /* height: 420px; */
    height: 55vh;
    background-size: cover !important;
    background-position: center !important;
    background: #cad6ff30;
}

.profile-info {
    padding: 15px;
}

.swipe-left {
    animation: swipeLeftAnimation 0.5s ease forwards;
}

.swipe-right {
    animation: swipeRightAnimation 0.5s ease forwards;
}

@keyframes swipeLeftAnimation {
    0% {
        transform: translateX(0) rotate(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%) rotate(-30deg) scale(0.8);
        opacity: 0;
    }
}

@keyframes swipeRightAnimation {
    0% {
        transform: translateX(0) rotate(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(100%) rotate(30deg) scale(0.8);
        opacity: 0;
    }
}

